.header {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 15px 20px;
  box-sizing: border-box; }
  .header__logo {
    flex: 2; }
    .header__logo .header__img {
      width: 100%;
      height: 100%; }
  .header .nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .header .nav .hamburger {
      width: 100px;
      height: 100px;
      border: 5px solid #ffb400;
      border-radius: 50%;
      padding: 18px 20px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column; }
      .header .nav .hamburger__item--navy {
        height: 5px;
        width: 100%;
        background-color: #0d2c54; }
      .header .nav .hamburger__item--orange {
        height: 5px;
        width: 100%;
        background-color: #f6511d; }
      .header .nav .hamburger__item--green {
        height: 5px;
        width: 100%;
        background-color: #7fb800; }
    .header .nav .menu {
      display: none; }

.slider {
  width: 100%;
  height: 500px;
  position: relative;
  background-color: black;
  overflow: hidden; }
  .slider .slider__box {
    position: absolute;
    height: 100%;
    display: flex;
    left: 0%;
    transition: all 1s ease;
    margin: 0; }
    .slider .slider__box .slider__container {
      width: 100vw;
      height: 100%;
      background-position: center;
      background-size: 100% 100%;
      background-repeat: no-repeat; }
      .slider .slider__box .slider__container .slider__img {
        width: 100vw;
        height: 100%; }
    .slider .slider__box .slider__container--first {
      background-color: gray;
      background-image: url("img/blow-bubbles.jpg"); }
    .slider .slider__box .slider__container--second {
      background-color: red;
      background-image: url("img/children.jpg"); }
    .slider .slider__box .slider__container--third {
      background-color: green;
      background-image: url("img/hands.jpg"); }
  .slider .slider__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 55px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #0d2c54;
    color: white;
    font-size: 40px; }
  .slider .prev {
    left: 0; }
  .slider .next {
    right: 0; }
  .slider .trapezoid {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 24px solid white;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 10px;
    width: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 52px; }
    .slider .trapezoid__circle {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 2px solid;
      margin-top: 34px; }
    .slider .trapezoid__circle--yellow {
      border-color: #ffb400; }
    .slider .trapezoid__circle--blue {
      border-color: #00a6ed; }
    .slider .trapezoid__circle--green {
      border-color: #7fb800;
      background-color: #7fb800; }
    .slider .trapezoid__circle--navy {
      border-color: navy; }
    .slider .trapezoid__circle--orange {
      border-color: #f6511d; }

.section--dashed {
  border-bottom: 1px dashed #00a6ed;
  border-width: 9px; }

.section {
  padding: 25px 20px;
  text-align: right; }
  .section__headline {
    margin: 0;
    font-family: "merydale";
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase; }
  .section__headline--left {
    text-align: left; }
  .section__paragraph {
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    line-height: 36px;
    font-size: 32px;
    padding-right: 90px; }
  .section__button {
    text-align: right;
    display: inline-block;
    background-color: #7fb800;
    text-transform: uppercase;
    text-align: center;
    padding: 0px 3px;
    font-size: 24px;
    line-height: 48px;
    height: 48px;
    width: 250px;
    color: white; }
  .section .button__item--padding {
    padding-left: 5px; }
  .section .button__item {
    font-weight: lighter;
    font-size: 20px; }

.section__headline--center {
  text-align: center; }

.section .content {
  display: flex;
  padding: 10px 30px; }
  .section .content__img {
    flex: 2; }
  .section .content__paragraph {
    flex: 5;
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    line-height: 34px;
    font-size: 30px; }
    .section .content__paragraph--bold {
      font-weight: 900; }
