p {
  margin: 0px; }

a {
  text-decoration: none;
  text-decoration-color: none;
  color: inherit; }

body {
  font-size: 90%; }

.header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 5px;
  box-sizing: border-box; }
  .header__logo {
    flex: 2; }
    .header__logo .header__img {
      width: 100%;
      height: auto; }
  .header .mobile {
    flex: 1;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .header .mobile .hamburger {
      width: 65px;
      height: 65px;
      border: 4px solid #ffb400;
      border-radius: 50%;
      cursor: pointer;
      padding: 15px 15px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column; }
      .header .mobile .hamburger__item--navy {
        height: 3px;
        width: 90%;
        background-color: #0d2c54; }
      .header .mobile .hamburger__item--orange {
        height: 3px;
        width: 90%;
        background-color: #f6511d; }
      .header .mobile .hamburger__item--green {
        height: 3px;
        width: 90%;
        background-color: #7fb800; }
  .header .nav {
    flex-basis: 100%;
    height: auto;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out; }
    .header .nav .menu {
      display: flex;
      list-style-type: none;
      flex-direction: column;
      padding: 0px; }
      .header .nav .menu .menu__item {
        margin: 0.2em 0em;
        padding: 8px 0;
        text-align: center;
        font-size: 1.5em;
        border: 2px solid black;
        text-transform: uppercase; }
      .header .nav .menu .menu__item--navy {
        border-color: #0d2c54;
        color: #0d2c54; }
      .header .nav .menu .menu__item--green {
        border-color: #7fb800;
        color: #7fb800; }
      .header .nav .menu .menu__item--blue {
        border-color: #00a6ed;
        color: #00a6ed; }
      .header .nav .menu .menu__item--orange {
        border-color: #f6511d;
        color: #f6511d; }
      .header .nav .menu .menu__item--yellow {
        border-color: #ffb400;
        color: #ffb400; }
  .header .nav--drop {
    max-height: 400px;
    transition: max-height 0.5s ease-out; }

.slider {
  width: 100%;
  height: auto;
  position: relative;
  background-color: black;
  overflow: hidden; }
  .slider .slider__box {
    position: absolute;
    height: 100%;
    display: flex;
    left: 0%;
    transition: all 1s ease;
    margin: 0; }
    .slider .slider__box .slider__container {
      width: 100vw;
      height: 100%;
      background-position: center;
      background-size: 100% 100%;
      background-repeat: no-repeat; }
      .slider .slider__box .slider__container .slider__img {
        width: 100vw;
        height: 100%; }
    .slider .slider__box .slider__container--first {
      background-color: gray;
      background-image: url("img/blow-bubbles.jpg"); }
    .slider .slider__box .slider__container--second {
      background-color: red;
      background-image: url("img/children.jpg"); }
    .slider .slider__box .slider__container--third {
      background-color: green;
      background-image: url("img/hands.jpg"); }
  .slider .slider__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #0d2c54;
    color: white;
    font-size: 30px; }
  .slider .prev {
    left: 0; }
  .slider .next {
    right: 0; }
  .slider .trapezoid {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 24px solid white;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 10px;
    width: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 52px; }
    .slider .trapezoid__circle {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 2px solid;
      margin-top: 34px;
      cursor: pointer; }
    .slider .trapezoid__circle--yellow {
      border-color: #ffb400; }
    .slider .trapezoid__circle--blue {
      border-color: #00a6ed; }
    .slider .trapezoid__circle--green {
      border-color: #7fb800;
      background-color: #7fb800; }
    .slider .trapezoid__circle--navy {
      border-color: navy; }
    .slider .trapezoid__circle--orange {
      border-color: #f6511d; }

.section {
  padding: 30px 10px;
  text-align: right;
  border-bottom: 1px dashed #00a6ed;
  border-width: 6px; }
  .section__headline {
    margin: 0;
    font-family: "merydale";
    font-weight: bold;
    font-size: 1.6em;
    line-height: 1.2em;
    margin-bottom: 15px;
    text-transform: uppercase; }
  .section__headline--left {
    min-height: 40px;
    margin-bottom: 0px;
    text-align: left; }
  .section__paragraph {
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    line-height: 1.3em;
    font-size: 1.1em;
    padding: 12px 0px;
    padding-right: 20px; }
  .section__button {
    text-align: right;
    display: inline-block;
    background-color: #7fb800;
    text-transform: uppercase;
    text-align: center;
    padding: 0px 3px;
    font-size: 1.2em;
    line-height: 30px;
    height: 30px;
    width: 190px;
    color: white; }
  .section .button__item--padding {
    padding-left: 5px; }
  .section .button__item {
    font-weight: lighter;
    font-size: 0.8em; }

.section__headline--center {
  text-align: center; }

.section .content {
  display: flex;
  align-items: center;
  padding: 10px 0px; }
  .section .content__photo {
    flex: 2; }
    .section .content__photo .content__img {
      width: 100%;
      height: auto; }
  .section .content__paragraph {
    flex: 6;
    padding-left: 20px;
    padding-right: 5px;
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    line-height: 1.3em;
    font-size: 1.1em; }
    .section .content__paragraph--bold {
      font-weight: 900; }

.section .box {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .section .box__button {
    width: 240px;
    display: flex;
    align-items: center;
    text-align: center;
    border: 2px solid #f6511d;
    color: #f6511d;
    text-transform: uppercase;
    height: 55px;
    font-size: 0.9em;
    font-weight: 800;
    box-sizing: border-box;
    /*span{
                justify-self: center;
            }*/ }
    .section .box__button .box__img {
      width: 28px;
      height: 28px;
      padding-left: 6px; }
    .section .box__button .box__img--right {
      padding-left: 0px;
      padding-right: 6px; }
    .section .box__button .box__text--start {
      flex: 1; }
    .section .box__button .box__text--end {
      flex: 1; }
  .section .box__button--padding {
    justify-content: flex-start;
    margin-left: 10px; }

.slider--carousel {
  width: 100%;
  height: 200px;
  background-color: black; }
  .slider--carousel .slider--carousel__container {
    position: relative;
    height: 100%; }
    .slider--carousel .slider--carousel__container .carousel__img {
      width: 100vw;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0%;
      transition: all 1s; }
    .slider--carousel .slider--carousel__container .carousel__img1 {
      background-color: #0d2c54;
      z-index: 1; }
    .slider--carousel .slider--carousel__container .carousel__img2 {
      background-color: #00a6ed; }
    .slider--carousel .slider--carousel__container .carousel__img3 {
      background-color: #7fb800; }
    .slider--carousel .slider--carousel__container .carousel__img4 {
      background-color: #ffb400; }
    .slider--carousel .slider--carousel__container .carousel__img5 {
      background-color: #f6511d; }
    .slider--carousel .slider--carousel__container .slider__left {
      left: 100%;
      transition: all 1s; }
    .slider--carousel .slider--carousel__container .slider__center {
      transition: all 1s;
      left: 0%; }
    .slider--carousel .slider--carousel__container .index {
      z-index: 5; }
  .slider--carousel .carousel__prev {
    width: 200px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0%;
    background-color: orange;
    z-index: 10; }
  .slider--carousel .carousel__next {
    width: 200px;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0%;
    background-color: orange;
    z-index: 10; }

.section--last {
  border: none; }
  .section--last .section__headline {
    text-align: center; }
  .section--last .box__button--big {
    display: flex;
    padding-right: 7px;
    justify-content: space-around;
    width: 90%;
    margin: auto; }

.flex {
  margin-top: 30px; }

.section--photo {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end; }
  .section--photo .section__headline--color {
    padding: 15px 0px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin: 0;
    flex-basis: 100%;
    font-size: 23px; }
  .section--photo .section__headline--navy {
    background-color: #0d2c54; }
  .section--photo .content {
    min-height: 180px; }
    .section--photo .content .section__paragraph {
      text-align: left;
      padding-left: 5px;
      line-height: 1.3em;
      font-size: 1.1em; }
    .section--photo .content .img--small {
      flex: 1;
      float: right;
      width: 50%;
      height: auto; }
  .section--photo .section__button {
    align-self: flex-end;
    margin-right: 10px; }
  .section--photo .button__item--padding {
    padding-left: 5px; }
  .section--photo .button__item {
    font-weight: lighter;
    font-size: 16px; }
  .section--photo .section__button--navy {
    background-color: #0d2c54; }

.section--photo {
  position: relative; }
  .section--photo .section__headline--green {
    background-color: #7fb800; }
  .section--photo .section__headline--blue {
    background-color: #00a6ed; }
  .section--photo .section__headline--orange {
    background-color: #f6511d; }
  .section--photo .section__headline--yellow {
    background-color: #ffb400; }
  .section--photo .section__img {
    width: 100%;
    height: auto; }
  .section--photo .section__button--color {
    position: absolute;
    background-color: #7fb800;
    justify-content: space-between;
    bottom: 12px;
    right: 0.1px; }
  .section--photo .section__button--green {
    background-color: #7fb800; }
  .section--photo .section__button--blue {
    background-color: #00a6ed; }
  .section--photo .section__button--orange {
    background-color: #f6511d; }
  .section--photo .section__button--yellow {
    background-color: #ffb400; }

.footer {
  background-color: #0d2c54;
  display: flex;
  flex-wrap: wrap;
  color: white;
  padding: 10px 5px; }
  .footer .footer__menu {
    flex: 2;
    align-items: center;
    list-style-type: none;
    text-transform: uppercase;
    margin: 0px;
    padding-left: 0px;
    font-size: 0.9em; }
    .footer .footer__menu .footer__item .item__li {
      text-transform: capitalize;
      padding: 0.17em 0px;
      font-size: 0.9em;
      list-style-type: none; }
  .footer .footer__contact {
    flex: 3;
    list-style-type: none;
    text-transform: capitalize;
    margin: 0px;
    padding-left: 5px;
    font-size: 0.8em;
    line-height: 2em; }
    .footer .footer__contact .contact__info {
      padding: 0.4em 0;
      display: flex; }
      .footer .footer__contact .contact__info .footer__icon {
        text-align: center;
        flex: 2;
        font-size: 1.5em;
        font-weight: 900;
        padding-right: 0.2em; }
      .footer .footer__contact .contact__info .footer__info {
        flex: 12;
        font-size: 0.85em; }
        .footer .footer__contact .contact__info .footer__info .footer__info--lowecase {
          text-transform: lowercase; }
  .footer .footer__create {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px dashed white;
    border-width: 4px;
    text-transform: capitalize;
    text-align: center;
    line-height: 1.6em;
    font-size: 0.8em;
    flex-basis: 100%; }

@media screen and (min-width: 420px) {
  .section--photo .content .img--small {
    width: 191px;
    height: 143px; }
  body {
    font-size: 100%;
    line-height: 100%; } }

@media screen and (min-width: 420px) {
  .footer {
    padding-top: 15px;
    justify-content: space-around; }
  .footer__contact {
    width: 220px; }
  .footer .footer__menu {
    flex: none; }
  .footer .footer__contact {
    flex: none; }
  .header__logo .header__img {
    width: 262px;
    height: 107px; }
  .box__button--big {
    width: 300px; } }

@media screen and (min-width: 460px) {
  .section {
    padding-top: 40px;
    padding-bottom: 50px; }
  .flex {
    margin-top: 40px; }
  .slider {
    width: 100%;
    height: 250px; } }

@media screen and (min-width: 520px) {
  .section--photo .section__box .section__paragraph {
    font-size: 1em;
    line-height: 1.3em; }
  .section .content__photo .content__img {
    width: 114.25px;
    height: 114.25px; }
  .content__photo {
    text-align: center; }
  .header {
    padding-left: 20px;
    padding-right: 20px; }
  .section {
    padding-left: 40px;
    padding-right: 40px; } }

@media screen and (min-width: 610px) {
  .flex {
    display: flex;
    flex-wrap: wrap; }
    .flex .section--photo {
      flex-basis: 50%; }
  .footer__contact {
    width: 300px; }
  body {
    font-size: 120%; }
  .section {
    padding: 40px 60px; } }

@media screen and (min-width: 640px) {
  .section__img {
    text-align: right; }
  .section--photo .section__box .section__img .img--small {
    height: 193px;
    width: 281px; } }
