@font-face {
  font-family: Calibri;
  src: url(../fonts/Calibri.ttf); }

@font-face {
  font-family: Merydale;
  src: url(../fonts/MerydaleRegular.ttf); }

p {
  margin: 0px; }

a {
  text-decoration: none;
  text-decoration-color: none;
  color: inherit;
  margin: 0;
  padding: 0; }

body {
  font-size: 90%; }

.section {
  width: 90%;
  margin: auto; }

.section--photo {
  width: 90%;
  margin: auto; }

.heading {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  margin-top: 0px;
  border-bottom: 4px solid #0d2c54;
  color: #0d2c54;
  font-size: 1.1em;
  padding-bottom: 10px;
  width: 90%;
  text-transform: uppercase;
  font-family: "Calibri", sans-serif;
  font-weight: 700; }

.header {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box; }
  .header__logo {
    flex: 2; }
    .header__logo .header__img {
      width: 100%;
      height: auto; }
  .header .mobile {
    flex: 1;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .header .mobile .hamburger {
      width: 65px;
      height: 65px;
      border: 4px solid #ffb400;
      border-radius: 50%;
      cursor: pointer;
      padding: 15px 15px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column; }
      .header .mobile .hamburger__item--navy {
        height: 3px;
        width: 90%;
        background-color: #0d2c54; }
      .header .mobile .hamburger__item--orange {
        height: 3px;
        width: 90%;
        background-color: #f6511d; }
      .header .mobile .hamburger__item--green {
        height: 3px;
        width: 90%;
        background-color: #7fb800; }
    .header .mobile .hamburger--pushed {
      border: 4px solid #0d2c54;
      background-color: #0d2c54; }
      .header .mobile .hamburger--pushed .hamburger__item--navy {
        height: 3px;
        width: 90%;
        background-color: white; }
      .header .mobile .hamburger--pushed .hamburger__item--orange {
        height: 3px;
        width: 90%;
        background-color: white; }
      .header .mobile .hamburger--pushed .hamburger__item--green {
        height: 3px;
        width: 90%;
        background-color: white; }
  .header .nav {
    flex-basis: 100%;
    height: auto;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out; }
    .header .nav .menu {
      list-style-type: none;
      padding: 0px; }
      .header .nav .menu .menu__item {
        font-size: 20px;
        text-transform: uppercase;
        margin: auto;
        height: 36px;
        margin-bottom: 30px;
        margin-top: 20px;
        border: none; }
        .header .nav .menu .menu__item .menu__link {
          display: flex;
          align-items: center;
          width: 90%;
          margin: auto;
          position: relative;
          transition: all 0.3s; }
          .header .nav .menu .menu__item .menu__link .menu__svg {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -2px;
            width: 55px;
            height: 55px;
            border-radius: 20px;
            border-style: solid;
            border-width: 2px;
            z-index: 1; }
          .header .nav .menu .menu__item .menu__link .menu__content {
            display: flex;
            height: 40px;
            width: 100%;
            justify-content: center;
            border-radius: 15px;
            padding-left: 59px;
            align-items: center;
            font-size: 20px; }
      .header .nav .menu .menu__item--navy {
        border-color: #0d2c54;
        color: #0d2c54; }
      .header .nav .menu .menu__item--green {
        border-color: #7fb800;
        color: #7fb800; }
      .header .nav .menu .menu__item--blue {
        border-color: #00a6ed;
        color: #00a6ed; }
      .header .nav .menu .menu__item--orange {
        border-color: #f6511d;
        color: #f6511d; }
      .header .nav .menu .menu__item--yellow {
        border-color: #ffb400;
        color: #ffb400; }
  .header .nav--drop {
    max-height: 400px;
    transition: max-height 0.5s ease-out; }

.slider {
  width: 100%;
  position: relative;
  background-color: black;
  overflow: hidden; }
  .slider .slider__box {
    position: absolute;
    height: 100%;
    display: flex;
    left: 0%;
    transition: all 1s ease;
    margin: 0; }
    .slider .slider__box .slider__container {
      width: 100vw;
      height: 100%;
      background-position: center;
      background-size: 100% 100%;
      background-repeat: no-repeat; }
      .slider .slider__box .slider__container .slider__img {
        width: 100vw;
        height: auto; }
    .slider .slider__box .slider__container--first {
      background-color: gray;
      background-image: url("img/blow-bubbles.jpg"); }
    .slider .slider__box .slider__container--second {
      background-color: red;
      background-image: url("img/children.jpg"); }
    .slider .slider__box .slider__container--third {
      background-color: green;
      background-image: url("img/hands.jpg"); }
  .slider .slider__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #0d2c54;
    color: white;
    font-size: 30px; }
  .slider .prev {
    left: 0; }
  .slider .next {
    right: 0; }
  .slider .trapezoid {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 24px solid white;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 10px;
    width: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 52px; }
    .slider .trapezoid__circle {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 2px solid;
      margin-top: 34px;
      cursor: pointer; }
    .slider .trapezoid__circle--yellow {
      border-color: #ffb400; }
    .slider .trapezoid__circle--blue {
      border-color: #00a6ed; }
    .slider .trapezoid__circle--green {
      border-color: #7fb800;
      background-color: #7fb800; }
    .slider .trapezoid__circle--navy {
      border-color: navy; }
    .slider .trapezoid__circle--orange {
      border-color: #f6511d; }

.section {
  padding: 0px 10px;
  padding-top: 0px;
  padding-bottom: 30px;
  text-align: right;
  border-width: 6px; }
  .section__headline {
    font-family: "Merydale";
    font-weight: bold;
    font-size: 1.3em;
    line-height: 1.2em;
    text-transform: uppercase;
    margin-bottom: 0px; }
  .section__headline--left {
    text-align: left;
    height: 45px; }
  .section__paragraph {
    text-align: left;
    font-family: "Calibri", sans-serif;
    font-weight: 500;
    line-height: 1.3em;
    font-size: 1em;
    padding-right: 20px; }
  .section .button {
    display: flex;
    justify-content: flex-end; }
    .section .button .section__link {
      display: flex;
      justify-content: flex-end;
      width: 190px;
      position: relative;
      transition: all 0.3s;
      margin-top: 20px; }
      .section .button .section__link .section__svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -2px;
        width: 55px;
        height: 55px;
        border-radius: 20px;
        border-style: solid;
        border-width: 2px;
        z-index: 1; }
      .section .button .section__link .section__content {
        display: flex;
        height: 40px;
        width: 100%;
        text-align: center;
        justify-content: center;
        border-radius: 15px;
        padding-left: 59px;
        align-items: center;
        font-size: 20px;
        text-transform: capitalize; }
    .section .button .section__link--big {
      justify-content: center;
      width: 220px; }
  .section .button--two {
    justify-content: space-around; }
    .section .button--two .button--padding {
      margin-left: 10px; }

.section__headline--center {
  text-align: center; }

.section .content {
  display: flex;
  align-items: center;
  padding: 10px 0px; }
  .section .content__photo {
    flex: 2; }
    .section .content__photo .content__img {
      width: 100%;
      height: auto; }
  .section .content__paragraph {
    flex: 6;
    padding-left: 20px;
    padding-right: 5px;
    text-align: left;
    font-family: "Calibri", sans-serif;
    font-weight: 500;
    line-height: 1.3em;
    font-size: 1em; }
    .section .content__paragraph--bold {
      font-weight: 900; }

.section .box {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .section .box__button {
    z-index: 10;
    width: 255px;
    display: flex;
    align-items: center;
    text-align: center;
    border: 2px solid #f6511d;
    background-color: #f6511d;
    color: white;
    text-transform: uppercase;
    height: 55px;
    font-size: 0.8em;
    font-weight: 800;
    position: relative;
    box-sizing: border-box;
    border-radius: 25px;
    overflow: hidden;
    cursor: pointer;
    /*span{
                justify-self: center;
            }*/ }
    .section .box__button .box__photo {
      display: flex;
      width: 50px; }
      .section .box__button .box__photo .box__img {
        z-index: 2;
        width: 40px;
        height: 40px;
        padding-left: 6px; }
    .section .box__button .box__content {
      flex: 1;
      text-align: center;
      z-index: 1; }
    .section .box__button .box__img {
      text-align: center; }
    .section .box__button .box__text--start {
      flex: 1;
      margin-left: 5px; }
    .section .box__button .box__text--end {
      flex: 1;
      margin-left: 5px; }
  .section .box .box__button--padding {
    margin-left: 10px; }
  .section .box__button::before {
    top: 0;
    display: block;
    position: absolute;
    border-radius: 25px;
    content: "";
    height: 100%;
    width: 50px;
    transition: all 0.2s;
    background-color: white; }
  .section .box__button::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    z-index: 10;
    display: block;
    width: 100%;
    height: 100%; }
  .section .box__button:hover {
    color: #f6511d; }
  .section .box .box__button:hover:before {
    width: 100%; }

.slider--carousel {
  width: 100%;
  height: 200px;
  background-color: black; }
  .slider--carousel .slider--carousel__container {
    position: relative;
    height: 100%; }
    .slider--carousel .slider--carousel__container .carousel__img {
      width: 100vw;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0%;
      transition: all 1s; }
    .slider--carousel .slider--carousel__container .carousel__img1 {
      background-color: #0d2c54;
      z-index: 1; }
    .slider--carousel .slider--carousel__container .carousel__img2 {
      background-color: #00a6ed; }
    .slider--carousel .slider--carousel__container .carousel__img3 {
      background-color: #7fb800; }
    .slider--carousel .slider--carousel__container .carousel__img4 {
      background-color: #ffb400; }
    .slider--carousel .slider--carousel__container .carousel__img5 {
      background-color: #f6511d; }
    .slider--carousel .slider--carousel__container .slider__left {
      left: 100%;
      transition: all 1s; }
    .slider--carousel .slider--carousel__container .slider__center {
      transition: all 1s;
      left: 0%; }
    .slider--carousel .slider--carousel__container .index {
      z-index: 5; }
  .slider--carousel .carousel__prev {
    width: 200px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0%;
    background-color: orange;
    z-index: 10; }
  .slider--carousel .carousel__next {
    width: 200px;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0%;
    background-color: orange;
    z-index: 10; }

.section--last {
  border: none; }
  .section--last .section__headline {
    text-align: center; }
  .section--last .box__button--big {
    display: flex;
    width: 75%;
    align-items: center;
    padding-right: 7px;
    margin: auto; }
    .section--last .box__button--big .box__photo {
      width: 50px; }
  .section--last .box__button--big:before {
    width: 50px; }
  .section--last .box__button--big:hover:before {
    width: 100%; }

.flex {
  margin-top: 30px; }

.section--photo {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end; }
  .section--photo .section__headline--color {
    padding: 15px 0px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin: 0;
    flex-basis: 100%;
    font-size: 23px; }
  .section--photo .section__headline--navy {
    background-color: #0d2c54; }
  .section--photo .content {
    min-height: 160px; }
    .section--photo .content .section__paragraph {
      text-align: left;
      font-family: "Calibri", sans-serif;
      font-weight: 500;
      padding-left: 5px;
      line-height: 1.3em;
      font-size: 1em; }
    .section--photo .content .img--small {
      flex: 1;
      padding-left: 15px;
      float: right;
      width: 50%;
      height: auto; }
  .section--photo .button {
    display: flex;
    justify-content: flex-end; }
    .section--photo .button .section__link {
      display: flex;
      justify-content: flex-end;
      width: 190px;
      position: relative;
      transition: all 0.3s;
      margin-top: 20px; }
      .section--photo .button .section__link .section__svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -2px;
        width: 55px;
        height: 55px;
        border-radius: 20px;
        border-style: solid;
        border-width: 2px;
        z-index: 1; }
      .section--photo .button .section__link .section__content {
        display: flex;
        height: 40px;
        width: 100%;
        text-align: center;
        justify-content: center;
        border-radius: 15px;
        padding-left: 59px;
        align-items: center;
        font-size: 20px;
        text-transform: capitalize; }

.flex {
  margin-top: 40px; }
  .flex .section--photo {
    margin: auto;
    margin-bottom: 45px;
    position: relative; }
    .flex .section--photo .section__link {
      width: 100%;
      height: 100%;
      overflow: hidden; }
      .flex .section--photo .section__link .section__headline--green {
        background-color: #7fb800; }
      .flex .section--photo .section__link .section__headline--blue {
        background-color: #00a6ed; }
      .flex .section--photo .section__link .section__headline--orange {
        background-color: #f6511d; }
      .flex .section--photo .section__link .section__headline--yellow {
        background-color: #ffb400; }
      .flex .section--photo .section__link .section__container {
        display: flex;
        overflow: hidden; }
        .flex .section--photo .section__link .section__container .section__img {
          width: 100%;
          height: auto;
          transition: all 0.5s; }
      .flex .section--photo .section__link .section__button--color {
        position: absolute;
        background-color: #7fb800;
        justify-content: space-between;
        bottom: 12px;
        right: 0.1px; }
      .flex .section--photo .section__link .section__button--green {
        background-color: #7fb800; }
      .flex .section--photo .section__link .section__button--blue {
        background-color: #00a6ed; }
      .flex .section--photo .section__link .section__button--orange {
        background-color: #f6511d; }
      .flex .section--photo .section__link .section__button--yellow {
        background-color: #ffb400; }
      .flex .section--photo .section__link .flex__button {
        width: 200px;
        height: 30px;
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #0d2c54;
        text-transform: uppercase;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        border: none; }
    .flex .section--photo .section__link:hover .section__img {
      opacity: 0.6;
      transform: scale(1.1); }

.footer {
  background-color: #0d2c54;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
  padding: 10px 5px;
  /*.footer__menu{
        flex: 2;
        align-items: center;
        list-style-type: none;
        text-transform: uppercase;
        margin: 0px;
        padding-left: 0px;
        font-size: 0.9em;
        .footer__item{
            .item__li{
                text-transform: capitalize;
                padding: 0.17em 0px;
                font-size: 0.9em;
                list-style-type: none;
            }
        }
    }*/ }
  .footer .footer__contact {
    list-style-type: none;
    text-transform: capitalize;
    align-items: center;
    margin: 0px;
    padding-left: 5px;
    font-size: 1.1em;
    line-height: 2em; }
    .footer .footer__contact a .contact__info {
      padding: 5px 0;
      display: flex;
      align-items: baseline; }
      .footer .footer__contact a .contact__info .footer__icon {
        display: flex;
        align-items: center;
        opacity: 0.6;
        justify-content: center;
        text-align: center;
        font-size: 16px;
        font-weight: 900;
        height: 25px;
        width: 25px;
        color: #0d2c54;
        background-color: white;
        border-radius: 100%;
        transition: all 0.5s; }
      .footer .footer__contact a .contact__info .footer__info {
        flex: 12;
        font-size: 14px;
        margin-left: 8px; }
        .footer .footer__contact a .contact__info .footer__info .footer__info--lowecase {
          text-transform: lowercase; }
    .footer .footer__contact .contact__info:hover .footer__icon {
      opacity: 1; }
  .footer .footer__menu {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    padding: 0px;
    list-style-type: none; }
    .footer .footer__menu .menu__item {
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: baseline;
      padding: 5px 5px;
      font-size: 0.8em; }
    .footer .footer__menu .footer__svg {
      width: 55px;
      height: 55px;
      border-radius: 20px;
      background-color: white;
      opacity: 0.7;
      color: #0d2c54; }
    .footer .footer__menu .footer__svg:hover {
      opacity: 1; }
  .footer .footer__create {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid white;
    border-width: 4px;
    text-transform: capitalize;
    text-align: center;
    line-height: 1.6em;
    font-size: 0.8em;
    flex-basis: 100%; }

.button--orange {
  transition: all 0.3s; }
  .button--orange .svg--orange {
    fill: #f6511d;
    border: #f6511d;
    background-color: white;
    transition: all 0.3s; }
  .button--orange .content--orange {
    background-color: #f6511d;
    border: 2px solid #f6511d;
    color: white;
    transition: all 0.3s; }

.button--orange:hover .svg--orange {
  fill: white;
  border: #f6511d;
  background-color: #f6511d; }

.button--orange:hover .content--orange {
  background-color: white;
  border: 2px solid #f6511d;
  color: #f6511d;
  opacity: 0.7; }

.button--yellow {
  transition: all 0.3s; }
  .button--yellow .svg--yellow {
    fill: #ffb400;
    border: #ffb400;
    background-color: white;
    transition: all 0.3s; }
  .button--yellow .content--yellow {
    background-color: #ffb400;
    border: 2px solid #ffb400;
    color: white;
    transition: all 0.3s; }

.button--yellow:hover .svg--yellow {
  fill: white;
  border: #ffb400;
  background-color: #ffb400; }

.button--yellow:hover .content--yellow {
  background-color: white;
  border: 2px solid #ffb400;
  color: #ffb400;
  opacity: 0.7; }

.button--blue {
  transition: all 0.3s; }
  .button--blue .svg--blue {
    fill: #00a6ed;
    border: #00a6ed;
    background-color: white;
    transition: all 0.3s; }
  .button--blue .content--blue {
    background-color: #00a6ed;
    border: 2px solid #00a6ed;
    color: white;
    transition: all 0.3s; }

.button--blue:hover .svg--blue {
  fill: white;
  border: #00a6ed;
  background-color: #00a6ed; }

.button--blue:hover .content--blue {
  background-color: white;
  border: 2px solid #00a6ed;
  color: #00a6ed;
  opacity: 0.7; }

.button--green {
  transition: all 0.3s; }
  .button--green .svg--green {
    fill: #7fb800;
    border: #7fb800;
    background-color: white;
    transition: all 0.3s; }
  .button--green .content--green {
    background-color: #7fb800;
    border: 2px solid #7fb800;
    color: white;
    transition: all 0.3s; }

.button--green:hover .svg--green {
  fill: white;
  border: #7fb800;
  background-color: #7fb800; }

.button--green:hover .content--green {
  background-color: white;
  border: 2px solid #7fb800;
  color: #7fb800;
  opacity: 0.7; }

.button--navy {
  transition: all 0.3s; }
  .button--navy .svg--navy {
    fill: #0d2c54;
    border: #0d2c54;
    background-color: white; }
  .button--navy .content--navy {
    background-color: #0d2c54;
    border: 2px solid #0d2c54;
    color: white;
    transition: all 0.3s; }

.button--navy:hover .svg--navy {
  fill: white;
  border: #0d2c54;
  background-color: #0d2c54; }

.button--navy:hover .content--navy {
  background-color: white;
  border: 2px solid #0d2c54;
  color: #0d2c54;
  opacity: 0.7; }

@media screen and (min-width: 400px) {
  .slider {
    width: 100%;
    height: 220px; } }

@media screen and (min-width: 420px) {
  .section--photo .content .img--small {
    width: 191px;
    height: 143px; }
  .section--last .box__button--big {
    width: 300px; }
  body {
    font-size: 100%;
    line-height: 100%; } }

@media screen and (min-width: 420px) {
  .header {
    width: 90%;
    margin: auto; }
    .header .header__img {
      margin-left: -20px; }
  .footer {
    padding-top: 15px;
    justify-content: space-around; }
  .footer__contact {
    width: 270px; }
  .footer .footer__contact {
    flex: none; }
  .box__button--big {
    width: 300px; } }

@media screen and (min-width: 470px) {
  .header__logo .header__img {
    width: 295.33px;
    height: 120.83px; } }

@media screen and (min-width: 460px) {
  .section--photo .content {
    min-height: 160px; }
  .flex {
    margin-top: 40px; }
  .slider {
    width: 100%;
    height: 250px; } }

@media screen and (min-width: 520px) {
  .footer .footer__menu {
    flex-direction: row; }
    .footer .footer__menu .menu__item {
      padding: 5px 5px;
      font-size: 0.8em; }
  .section--photo .section__box .section__paragraph {
    font-size: 1em;
    line-height: 1.3em; }
  .section .content__photo .content__img {
    width: 114.25px;
    width: 114.25px;
    height: 114.25px; }
  .content__photo {
    text-align: center; } }

@media screen and (min-width: 600px) {
  .slider {
    height: 310px; } }

@media screen and (min-width: 700px) {
  .slider {
    height: 400px; } }

@media screen and (min-width: 610px) {
  .flex {
    display: flex;
    flex-wrap: wrap; }
    .flex .section--photo {
      flex-basis: 50%; }
  .footer__contact {
    width: 300px; }
  body {
    font-size: 110%; } }

@media screen and (min-width: 640px) {
  .section__img {
    text-align: right; }
  .section--photo .section__box .section__img .img--small {
    height: 193px;
    width: 281px; } }

@media screen and (min-width: 700px) {
  .header__logo .header__img {
    width: 336px;
    height: 137.417px; } }
